body {
  background-image: url(./bb1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.title {
  text-align: center;
  margin-top: 2px;
  font-size: 50px;
  font-weight: 600;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.outer {
  text-align: center;
  width: 100%;
  height: auto;
}
.box {
  display: inline-block;
  height: 70px;
  width: 32.33%;
  float: left;
  color: rgb(253, 253, 253);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  background-attachment: fixed;
  background-position: center;
  border: 0.4vw solid transparent;
  border-radius: 15px;
  margin-bottom: 20px;
}

.search {
  margin-top: 5px;
  font-size: 40px;
  font-weight: 600;
  margin-left: 5vw;
  color: whitesmoke;
}
#ip1 {
  color: black;
  background-color: whitesmoke;
  height: 35px;
  border-style: none;
  font-style: unset;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 23px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}
textarea,
input {
  outline: none;
}
.bx {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 10px;
  height: 300px;
  width: 80vw;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  color: white;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}
.inn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  height: 40px;
  width: 80%;
  display: flex;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: black;
  background-color: rgb(252, 239, 251);
}

.stree {
  list-style: none;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
  height: 90%;
  width: 55%;
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  color: rgb(26, 22, 22);
}
.purush {
  list-style: none;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
  height: 90%;
  width: 15%;
  text-align: center;
  font-size: 28px;
  font-family: monospace;
  font-weight: 500;
  color: rgb(26, 22, 22);
}
.fire {
  list-style: none;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  background-attachment: fixed;
  background-color: rbg(30, 74, 212);
  text-align: center;
  width: 60%;
  margin-left: 20vw;
  margin-right: 16vw;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  text-decoration: white;
  display: flex;
  justify-content: center;
}
.tire {
  list-style: none;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border: 4px solid black;
  box-shadow: inset 0 0 2.5px 2px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to top,
    rgb(170, 49, 240),
    rgb(66, 202, 243),
    rgb(89, 236, 84),
    rgb(243, 240, 44),
    orange,
    rgb(243, 50, 50)
  );
  border-radius: 2px;
}
